
body{
    background-image: url(../img/Fondo\ 3.jpg);
    background-repeat: repeat;
    
}

#Principal{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
}
#informacion{
    
    width: 80%;
    margin: 0 auto;
    padding: 5px;
}

fieldset{
    margin-bottom: 10px;

}

legend{
    font-weight: bold;
}

#FotoPrincipal{
    border: black solid 4px;
    margin: 5px;
}

